.home_div {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: url('/images/home_bg.png') no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.top1{
    width: 250px
}

.top_div {
    height: 150px;
    width: 100%;
    background-color: #1C1E23;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left_div{
    height:100%;
    width:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C1E23;
    position:absolute;
    left:0;
}
.pukewang_img{
    width:134px;
    height:67px;
    margin-top: 60px;
}
.left_line{
    width:60%;
    height:1px;
    background-color: #757575;
    margin-top: 18px;
    margin-bottom: 18px;
}
.left_span{
    color:#CCCCCC;
    font-size:18px;
}
.circle_div{
    width:80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top:11px;
}
.circle{
    width:85px;
    height:40px;
    border-radius: 34px;
    border-width: 3px;
    border-color: #CCCCCC;
    border-style: solid;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle_span{
    color:#FFFFFF;
    font-size:18px;
    font-weight: bold;
}
.big_circle{
    width:208px;
    height:96px;
    background: url('/images/Rectangle.png') no-repeat center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 68px;
}
.big_circle_last{
    width:208px;
    height:96px;
    background: url('/images/limit.png') no-repeat center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 68px;
}
.big_circle_span{
    color:#44474E;
    font-size:32px;
    font-weight: bold;
}
.big_money_span{
    color:#1C1E23;
    font-size:18px;
    font-weight: bold;
}
.queue_div{
    margin-left: 317px;
    margin-right: 33px;
    margin-top:20px;
    display: flex;
    flex-direction: row;
}
.queue{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.text1{
    color:#282828;
    font-size:12px;
}
.queue_number_div{
    width:204px;
    background-color: #FDF3D9;
    border-radius: 10px;
    border-width: 4px;
    border-color: #6E6B6B;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last_div{
    margin-top: 17px;
    margin-left: 66px;
}
.name_span{
    color:#444444;
    font-size:18px;
    font-weight: bold;
    margin-top: 21px;
}
.queue_list{
    display: flex;
    flex-direction: row;
}
.list_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:23px;
    margin-right:23px;
    margin-top: 21px;
}
.number_span{
    color:#7F6333;
    font-size:18px;
    font-weight: bold;
    margin-top: 21px;
}
#dropdown{
    position:absolute;
    bottom:50px;
    width:30%;
    height:30px;
    background-color: transparent;
    border-color: transparent;
    align-self: center;
    color:#cccccc;
}