@font-face {
    font-family: 'American_CaptainT';
    src: url('/assets/American_Captain.ttf');
}
@font-face {
    font-family: 'American_CaptainO';
    src: url('/assets/American_Captain.otf');
}
@font-face {
    font-family: 'Calibri';
    src: url('/assets/Calibri.ttf');
}
@font-face {
    font-family: 'Calibri_Bold';
    src: url('/assets/Calibri_Bold.ttf');
}
@font-face {
    font-family: 'Italic';
    src: url('/assets/AdobeArabic-Italic.otf');
}
@media ( min-width : 768px) {
    .div_5ths {
        width: 20%;
    }
    .div_6ths{
        width: 10%;
    }
}
@media ( min-width : 992px) {
    .div_5ths {
        width: 20%;
    }
    .div_6ths{
        width: 10%;
    }
}
@media ( min-width : 1200px) {
    .div_5ths {
        width: 20%;
    }
    .div_6ths{
        width: 10%;
    }
}

.queue_body_new {
    width: 100%;
    height: 100%;
    position: absolute;
    /*background-color: #F0D8AD;*/
    overflow-x: hidden;
    overflow-y: hidden;
    background: url('/images/bg.png') no-repeat center;
}

.left_div_new {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #1C1E23;*/
    text-align: center;
}

.left_line {
    width: 85%;
    height: 1px;
    background-color: #757575;
    margin-top: 18px;
    margin-bottom: 18px;
}
.left_line2 {
    width: 85%;
    height: 1px;
    background-color: #757575;
}
.left_line3 {
    width: 85%;
    height: 2px;
    background-color: #757575;
}

.left_span {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.left_span2 {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.pukewang {
    margin-top: 15%;
    width: 95%;
    align-self: center;
}

.left_circle {
    margin-top: 10%;
    width: 95%;
    height: 50%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle_span {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
}

.circle_vip_new {
    width: 50%;
    height: 15%;
    border-radius: 34px;
    border-width: 3px;
    border-color: #CCCCCC;
    border-style: solid;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_div_new {
    height:84%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.circle_new {
    width: 50%;
    height: 17%;
    border-radius: 34px;
    border-width: 3px;
    border-color: #CCCCCC;
    border-style: solid;
    text-align: center;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner{
    border-left: 1px solid #d61c24;
    width: 0;
    height: 13.5%;
    transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -webkit-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    display: inline-block;
    position: absolute;
    z-index: 1;
}

#dropdown {
    position: absolute;
    bottom: 50px;
    height: 30px;
    background-color: transparent;
    border-color: transparent;
    align-self: center;
    color: #cccccc;
}

.top_div_new {
    margin-top: 4%;
    height:100px;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: center;
}
.big_circle_span_new{
    color:#d1d2d4;
    font-size:40px;
    font-weight: bold;
    font-family: American_CaptainT;
}
.big_money_span_new{
    color:#d1d2d4;
    font-size:28px;
    font-weight: bold;
    font-family: American_CaptainT;
}
.last_big_circle_new{
    height:90px;
    width:95%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.big_circle_new{
    height:85px;
    width:95%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.left_math{
    width:20px;
}
.cash_div_new{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    /*margin-top: 20px;*/
}
.queue_bottom_new{
    width:100%;
    /*height:100%;*/
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: center;
    margin-top: 25px;
}
.item_div_new{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.remarks_1{
    width:100%;
    height:25px;
}
.remarks{
    width:100%;
    height:25px;
    text-align: center;
}
.remark_span{
    color:#c6f002;
}
.queue_div{
    width:100% !important;
    display: flex;
    flex-direction: row;
}

.list_div_new{
    width:20px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;

}
[class*="col-"]{
    padding-right: 3px !important;
    padding-left: 3px !important;
}
.number_div_new{
    width:20px;
    height:8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.number_span_new{
    color:#FFFFFF;
    font-size:24px;
    font-weight: bold;
}
.number_span_hidden{
    color:#FFFFFF;
    font-size:24px;
    font-weight: bold;
    display:none ;
}
.queue_new{
    width:98%;
    /*height:100%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right_top_div{
    width:100%;
    height:26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.top_text_div{
    width:90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height:30px;
    margin-bottom: 10px;
}
.text1_new{
    color:#d1d2d4;
    font-size:30px;
    font-family: American_CaptainT;
}
.number_div_left{
    width:20px;
    height: 72%;
    display: flex;
    flex-direction: column;
}
.queue_number_div_new{
    /*position:absolute;*/
    width:95%;
    height:72%;
    border-width: 1px;
    border-color: #FFFFFF;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 25px;*/
}
.number_name_div_new{
    width:100%;
    height:8%;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*margin-top: 18px;*/
}
.name_span1_new{
    color:#FFFFFF;
    font-size:30px;
    font-weight: bold;
    word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;overflow: hidden ;
    font-family: Calibri;
}
.name_span_new{
    color:#FFFFFF;
    font-size:35px;
    font-weight: bold;
    word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;overflow: hidden ;
    font-family: Calibri;
}
.bottom_text_div_new{
    width:100%;
    height:6%;
    border-top-width: 1px;
    border-top-color: #FFFFFF;
    border-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 99;
}
.queue_all_new{
    color:#BCBEC0;
    font-size:28px;
    font-weight: bold;
    word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;overflow: hidden ;
    font-family: Calibri_Bold;
}
.queue_all_new_last{
    color:#d2ff00;
    font-size:30px;
    font-weight: bold;
    word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;overflow: hidden ;
    font-family: Italic;
}
.queue_all_new_last2{
    color:#FFFFFF;
    font-size:30px;
    font-weight: bold;
    word-break:normal; width:auto; display:block; white-space:pre-wrap;word-wrap : break-word ;overflow: hidden ;
    font-family: Italic;
}
.span_line_1{
    /*width:95%;*/
    height:26%;
    padding-bottom: 10px;
}
.span_line_n{
    width:95%;
    height:1px;
    background-color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}
.circle_item{
    width:24px;
    height:24px;
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}
.img_left{
    margin-right: 22px;
}
.img_left2{
    margin-right: 15px;
}
.img_right{
    margin-left: 23px;
}
.img_right2{
    margin-left: 15px;
}